
.grid-list li {
    width: 100%;
}

.labels {
  display: inline-block;
}
.white-text {
  color: white;
}
.color-pane {
  display: inline-block;
  color: white;
  padding: 8px;
}
.fake-button {
  display: inline-block;
  margin: 0 auto;
  padding: 10px;
  width: 120px;
}
/* .bars {
  padding: 4px;
} */
.circles {
  width: 75px;
  height: 75px;
  border-radius: 50%;
  /* border: 2px solid black; */
  margin: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
}
.color-bar {
  padding: 8px;
  margin: 0px auto;
  /* display: inline-block;
  width: 100%; */
  color: white;
  border: none;
}
.circle-group {
  width: 100%;
  margin: 0 auto;
  display: grid;
  grid-template-columns: 1fr 1fr;
  justify-content: space-around;
}
.converted-color {
  display: inline-block;
  margin: 0 20px 7px 20px;
}
.converted-color li {
  padding: 5px;
}
.converted-color-panel {
  padding: 10px;
  color: white;
  display: inline-block;
}
.color-pane {
  row-gap: 0.3;
}
.center {
  display: flex;
  justify-content: center;
}

@font-face {
    font-family: 'quicksandregular';
    src: url('../font/quicksand-regular-webfont.woff2') format('woff2'),
         url('../font/quicksand-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}


 @font-face {
    font-family: 'bitstream_vera_sans_monoroman';
    src: url('../font/veramono-webfont.woff2') format('woff2'),
         url('../font/veramono-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'bitstream_vera_sans_monobold';
    src: url('../font/veramono-bold-webfont.woff2') format('woff2'),
         url('../font/veramono-bold-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'bitstream_vera_sans_monoBdOb';
    src: url('../font/veramono-bold-italic-webfont.woff2') format('woff2'),
         url('../font/veramono-bold-italic-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'bitstream_vera_sans_monoOb';
    src: url('../font/veramono-italic-webfont.woff2') format('woff2'),
         url('../font/veramono-italic-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
p, div, input, button, a, select, label {
  font-family: "bitstream_vera_sans_monoroman", sans-serif;
}
.pure-menu-link, li {
  font-family: "quicksandregular", monospace;
}

.shrink {
  text-align: center;
}
button {
  border-radius: 4px;
  background-color: darkkhaki;
}