/* @media (min-width: 47.999em) {
#submenu .grid-list {
    display: grid;

    grid-template-columns: repeat(2, 1fr); 
  grid-template-rows: repeat(3, auto);  
  margin: auto;
  justify-content: space-between;
  gap: 16px;
  width: 100%;
}
} */

    /* grid-template-columns: 1fr 1fr;
    grid-template-areas: "control1 control2"
                        "control3 control4"
                        "control5 control6" */
.grid-list li {
    width: 100%;
}

.labels {
  display: inline-block;
}
.white-text {
  color: white;
}
.color-pane {
  display: inline-block;
  color: white;
  padding: 8px;
}
.fake-button {
  display: inline-block;
  margin: 0 auto;
  padding: 10px;
  width: 120px;
}
/* .bars {
  padding: 4px;
} */
.circles {
  width: 75px;
  height: 75px;
  border-radius: 50%;
  /* border: 2px solid black; */
  margin: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
}
.color-bar {
  padding: 8px;
  margin: 0px auto;
  /* display: inline-block;
  width: 100%; */
  color: white;
  border: none;
}
.circle-group {
  width: 100%;
  margin: 0 auto;
  display: grid;
  grid-template-columns: 1fr 1fr;
  justify-content: space-around;
}
.converted-color {
  display: inline-block;
  margin: 0 20px 7px 20px;
}
.converted-color li {
  padding: 5px;
}
.converted-color-panel {
  padding: 10px;
  color: white;
  display: inline-block;
}
.color-pane {
  row-gap: 0.3;
}